<!DOCTYPE html>
<html>
<head>
    <title>Smart Bookmark Manager</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">
        <h1>✨ Smart Bookmark Manager</h1>

        <div class="form-box">
            <input type="text" id="title" placeholder="Enter Title">
            <input type="text" id="url" placeholder="Enter URL">
            <button onclick="addBookmark()">Add Bookmark</button>
        </div>

        <ul id="bookmarkList"></ul>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>